@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'myFont';
  src: url('/fonts/Foglihtenno07-e9wz3.otf') format('opentype');
}

@font-face {
  font-family: 'myFontCalt';
  src: url('/fonts/Foglihtenno07calt-WpzEA.otf') format('opentype');
}

.responsive {
  @apply lg:mx-[12vw] sm:mx-[6vw] mx-[3vw] mt-[5vh];
}